<div class="container my-3">
    <div class="row">
        <div class="col-text-center">
          <div class="my-3 text-warning">"Custom directive"</div>
        </div>
    </div>
</div>

<hr class="text-warning">
<div class="container my-3">
    <div class="row">
        <div class="col">
            <h1 class="text-warning">Example 1</h1>
            <div appSimpleDirective color="red">
                    <p>This is simple class</p>
                    <span>This is span text</span>
            </div>
            <div appSimpleDirective color="blue">
                <p>This is simple 1 class</p>
                <span>This is span1 text</span>
        </div>
        <div appSimpleDirective color="green">
            <p>This is simple2 class</p>
            <span>This is span2 text</span>
    </div>
        </div>
    </div>
</div>
