<div class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h1>Ng-content</h1>
        </div>
    </div>
</div>
<app-content-child>
    <h1 class="text-center">Ng-content child component 1</h1>
    <p class="text-center">Ng-content child component 1</p>
    

    <button class="btn btn-outline-secondary">Child componet 1</button>
</app-content-child>
<app-content-child>
    <h1 class="text-center">Ng-content child component 2</h1>
    <button class="btn btn-outline-secondary">Child componet 2</button>
</app-content-child>
<app-content-child>
    <h1 class="text-center">Ng-content child component 3</h1>
    <button class="btn btn-outline-secondary">Child componet 3</button>
</app-content-child>
