<div class="container">
    <div class="row">
        <div class="col">
            <ng-content select=".text-center"></ng-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit tempore beatae debitis quia omnis. Minus fugiat ratione distinctio assumenda, molestias temporibus hic, sint modi commodi nemo ea repellat et facilis?</p>
            <ng-content select="button"></ng-content>
            <ng-content select="array"></ng-content>
        </div>
    </div>
</div>
